.text-box {
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block; /* Make boxes inline */
}
// .row {
//   display: flex;
//   align-items: center; /* Align items vertically in the center */
// }
input {
  padding: 5px;
  margin-right: 10px; /* Optional: Add some spacing between text boxes */
}

.row-parent{
  font-size: 50px;
}

.head-font{
font-size: 20px;
margin: 10px;
padding: 10px;
}
.button-align{
  text-align: right;
  margin-right: 10px
}

.line {
  width: 100%;
  border-top: 7px solid #ba1d1d; /* Adjust the line color and style as needed */
  position: absolute;
  top: 50%;
  z-index: -1; /* Move the line behind the button */
}
.custom-button {
  width: 150px; /* Set the width as needed */
  height: 50px; /* Set the height as needed */
  border-radius: 10px; /* Set the border-radius to control the button's roundness */
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
}