<router-outlet></router-outlet>


<!-- <html>

<head>
  Age Calculator
</head>

<body>
  <div class="row center-container px-2 py-2">
    <div class="row ">
      <div class="col-md-1">
        <p>
          <label for="day">DAY</label>
        </p>
        <input type="number" id="day" class="text-box" [(ngModel)]="day" (change)="validateDay($event)">
      </div>
      <div class="col-md-1">
        <p>
          <label for="month">MONTH</label>
        </p>
        <input type="number" id="month" class="text-box" [(ngModel)]="month" (change)="validateMonth($event)">
      </div>
      <div class="col-md-1">
        <p>
          <label for="year">YEAR</label>
        </p>
        <input type="number" id="year" class="text-box" [(ngModel)]="year" (change)="validateYear($event)">
      </div>
      <div class="col-md-1">
        <p></p>
        <button type="button" class="form-control" (click)="calculateAge()">
          <i class="far fa-envelope"></i>
          Calculate</button>
      </div>
      <div class="row">
        <p> {{ ageYears + 'years'}}</p>
        <p>{{ageMonths + 'months' }}</p>
        <p>{{ageDays + 'days' }}</p>
      </div>
    </div>

  </div>
</body>

</html> -->