
.display-font{
  font-size: 50px;
}
.button-align{
  text-align: right;
  margin-right: 10px
}
  .displayColor{
    color:#8650fe
  }
  .cursor-ponter {
    cursor: pointer;
  }
  .fill-invalid {
    fill: #151515;
  }
  .svg-container {
    position: relative;
    .line {
      position: absolute;
      width: 327px;
      height: 1px;
      background-color: #151515;
      bottom: 46px;
    }
  }